@font-face {
  font-family: 'GyeonggiBatang';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'S-CoreDream-4Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}




/*

The Town

https://templatemo.com/tm-525-the-town

*/

html {
  font-size: 18px;
}

body {
  color: #8f8f8f;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
a {
  transition: all 0.3s ease;
}

a:hover,
a:focus {
  text-decoration: none;
}

a:focus {
  outline: none;
}

.btn {
  padding: 8px 32px;
}

.btn:hover {
  background-color: #3e4f14;
  transition: 1s;
}

.tm-section-pad-top2 {
  /* padding-top: 135px; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}
.tm-section-pad-top4{
    padding-top: 75px;
}
.tm-section-pad-top3{
  padding-top: 135px;
}
.tm-section-pad-top5{
  padding-top: 135px;
  padding-bottom: 3%;
}

.tm-text-primary {

}

.tm-font-big {
  font-size: 1.25rem;
}

.tm-btn-primary {
  color: white;
  background-color: #698522;
  padding: 14px 35px;
  border-radius: 30px;
  font-size: 16px;
  font-family: 'S-CoreDream-4Regular';
}

.tm-btn-primary:hover,
.tm-btn-primary:focus {
  color: white;
  background-color: #3e4f14;
  transition: 1s;
}

/* Navbar */

.tm-navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: transparent;
  transition: all 0.3s ease;
}

.tm-navbar.scroll {
  background-color: white;
  border-bottom: 1px solid #e9ecef;
}

.navbar-brand {
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
}

.navbar-brand:hover,
.tm-navbar.scroll .navbar-brand:hover {
  color: #3496d8;
}

.tm-navbar.scroll .navbar-brand {
  color: #fff;
}

.nav-item {
  list-style: none;
}

.tm-nav-link {
  color: white;
}
/* .tm-nav-link:hover{
  color: #47522d;
} */

.tm-navbar.scroll .tm-nav-link {
  color: #FFF;
}

.tm-navbar.scroll .tm-nav-link:hover,
.tm-navbar.scroll .tm-nav-link.current,
.tm-nav-link:hover {
  color: #47522d;
}

.navbar-toggler {
  border: 1px solid white;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-toggler-icon {
  color: white;
  padding-top: 6px;
}

.tm-navbar.scroll .navbar-toggler {
  border: 1px solid #8f8f8f;
}

.tm-navbar.scroll .navbar-toggler-icon {
  color: #8f8f8f;
}
#tmNav{
  background: #74854a;
}
#navbarSupportedContent ul li a{
  font-size: 20px;
  font-family: 'GyeonggiBatang';
  font-weight: bold;
}
#navbarSupportedContent ul li a:hover{
  color: #47522d;
}

/* Hero */

#hero {
  background: #fff;
  background-repeat: no-repeat;
  /* height: 100vh;
  min-height: 375px; */
  position: absolute;
}
.section01{
    padding-top: 5%;
}
.store{
    padding-top: 5%;
    padding-bottom: 8%;
}
.map{
    padding-top: 5%;
    padding-bottom: 8%;
}

#container {width: 960px; margin: 0 auto;}
#container #input-form {text-align: center;}
#user-table {margin: 0 auto; text-align: center;}
#input-form {margin-top: 10px; margin-bottom: 10px;}

#user-table {border-collapse: collapse;}
#user-table > thead > tr { background-color: #47522d; color:#fff;}
#user-table > thead > tr > th { padding: 5px; width: 130px; 
    font-family: 'GyeonggiBatang';}
#user-table > tbody > tr > td { border-bottom: 1px solid gray; padding:5px; 
    font-family: 'S-CoreDream-4Regular'; font-size: 18px;}
.back{
    background: #fff;
    color: #333;
}
.back1{
    background: #b0c188;
    color: #333;
}
.cursor{
    cursor: pointer;
}


@media (max-height: 480px) {
  .tm-hero-text-container-inner {
    margin-top: -40px;
  }

  .tm-intro-next {
    bottom: 20px;
  }
}


.tm-footer {
  position: absolute;
  bottom: 35px;
  left: 0;
  right: 0;
  padding: 0 15px;
}

.tm-footer-link {
  color: white;
}

.tm-footer-link:hover,
.tm-footer-link:focus {
  color: #3496d8;
  text-decoration: none;
}

p {
  line-height: 1.9;
}

@media (min-width: 768px) {
  .tm-intro-text-container {
    padding-left: 65px;
  }

  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1275px;
  }

  .tm-container-gallery {
    max-width: 1290px;
  }

  .tm-container-contact {
    max-width: 1063px;
  }
}

@media (max-width: 991px) {
  .tm-intro-text-container {
    padding-left: 15px;
    padding-top: 30px;
    max-width: 600px;
    /* margin-left: auto;
    margin-right: auto; */
  }
  .tm-intro-text-container2{
    padding-left: 15px;
    padding-top: 30px;
    max-width: 600px;
  }

  .tm-intro-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .tm-btn-submit {
    margin-left: 0;
    /* margin-top: 20px; */
  }

  .dispaly{
    display: flex;
    flex-direction: column-reverse !important;
  }
  .footer{
    width: 100%;
    flex-direction: column;
  }
  .footer-img{
    margin-top: 2%;
  }
  .footer-img img{
    width: 100%;
  }
  .footer-txt{
    padding-top: 5%;
    width: 100%;
    text-align: center;
  }
  .footer-end{
    width: 100%;
    text-align: center;

  }
}

@media (max-width: 767px) {
  .sec01-margin{
    margin-bottom: 10%;
  }
  /* .section01-img{
    margin-bottom: 0%;
  } */
  .tm-btn-submit {
    margin-left: 20px;
    margin-top: 0;
  }
  .tm-section-pad-top5{
    padding-top: 15%;
  }

  .navbar-nav {
    max-width: 200px;
    text-align: right;
  }

  .navbar-collapse {
    background-color: #74854a;
    padding: 10px;
    border-radius: 3px;
  }
  .tm-section-pad-top3{
    padding-top: 0;
    margin-top: 9%;
  }

  .navbar-collapse .nav-link {
    color: #fff;
  }
}

@media (max-width: 480px) {
  .tm-gallery-container {
    max-width: 220px;
    margin-left: auto;
    margin-right: auto;
  }

  .slick-dots li {
    margin: 0 8px;
  }

  .tm-gallery-item {
    margin: 0;
  }
}

@media (max-width: 420px) {
  .tm-btn-submit {
    display: block;
    margin-left: 0;
    margin-top: 20px;
  }
}

footer{
  background-color: #74854a;
}
.footer{
  display: flex;
  width: 65%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-top: 2%;
  padding-bottom: 1%;
}
.footer-img{
  width: 20%;
}
.footer-img img{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-txt{
  width: 80%;

  font-family: 'GyeonggiBatang';
  color: #fff;
  font-size: 15px;
  /* padding-left: 7%; */
}
.footer-txt span{
  padding-left: 3%;
}

@media (max-width: 767px){
  .ko{
    font-size: 22px;
    letter-spacing: -1px;
  }
  .en{
    font-size: 22px;
    letter-spacing: 1px;
  }
  .section02-txt h1{
    font-size: 30px;
    letter-spacing: 0px;
    line-height: 35px;
    margin-bottom: 3%;
  }
  .section02-txt p{
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 25px;
    margin-bottom: 3%;
  }
  .button-txt{
    font-size: 16px;
  }
  .tm-section-title{
    font-size: 30px;
    letter-spacing: 0px; 
  }
  .main-text1{
    font-size: 20px;
    letter-spacing: 0px;
    margin: 0;
  }
  .main-text2{
    font-size: 16px;
    letter-spacing: 0px;
  }
  .footer{
    width: 100%;
    flex-direction: column;
  }
  .footer-img{
    margin-top: 2%;
  }
  .footer-img img{
    width: 80%;
  }
  .footer-txt{
    padding-top: 5%;
    width: 100%;
    text-align: center;
  }
  .footer-end{
    width: 100%;
    text-align: center;

  }
  .tm-btn-primary {
    padding: 10px 25px;
  }
  .cream{
    margin-top: 5%;
  }
  .serum img{
    margin-left: 5%;
  }
  .serum div{
      margin-left: 5%;
  }
  .nature{
    margin-top: 12%;
  }
  #submenu{
    right: 0;
  }
}
li{
  list-style: none;
}
a{
  color: inherit;
  text-decoration: none; 
}
.drop-down{
  display: block;
}
#submenu{
  position: absolute;
  background: #74854a;
  padding: 20px 10px 20px;
  opacity: 0;
  visibility: hidden;
  /* margin: 16px; */
}
/* #submenu>li{
  padding: 10px 8px;
} */
#submenu>li>a{
  color: #fff;
  padding-top: 15px;
}
.drop-down:hover #submenu{
  opacity: 1;
  visibility: visible;
  transition: 0.8s;
}
